@page
@model PostApplication.Pages.Couries.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Courier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Courier.CourierFirstName" class="control-label"></label>
                <input asp-for="Courier.CourierFirstName" class="form-control" />
                <span asp-validation-for="Courier.CourierFirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Courier.CourierLastName" class="control-label"></label>
                <input asp-for="Courier.CourierLastName" class="form-control" />
                <span asp-validation-for="Courier.CourierLastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Courier.PhoneNumber" class="control-label"></label>
                <input asp-for="Courier.PhoneNumber" class="form-control" />
                <span asp-validation-for="Courier.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Courier.AssignedPackages" class="control-label">Assigned Packages</label>
                <select asp-for="Courier.AssignedPackages" class="form-control">
                    <option value="">Select a Package</option>
                    @foreach (var package in Model.AllPackages)
                    {
                        <option value="@package.Id">@package.Weight</option>
                    }
                </select>
                <span asp-validation-for="Courier.AssignedPackages" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
